*{
    margin: 0px;
    box-sizing: border-box;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
  }
  body{
    text-align: center;
    padding-top: 160px;
    background-image: url(
      https://i.ibb.co/8jNXLCn/background-image.jpg
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  
  
  font-family: 'Inter', sans-serif;
  
  }
  
  h3{
    font-size: 16px;
    line-height: 19px;
    color: aliceblue;
  }
  h3 span{
    color: #f6f61e;
  }
  h1{
    color: #f6f61e;
    
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    font-family: 'Emilys Candy', cursive;
  }
  p{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
    color: aliceblue;
    opacity: 0.6;
   
  }
  a{
    padding: 12px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: aliceblue;
    opacity: 0.6;
  
  }
  a:hover,
  
  .btn-primary{
    text-decoration: none;
    color: black;
    background-color: #f6f61e;
    opacity: 1;
  }